.movies-card-list {
  width: calc(100% - 140px);
  margin: 10px auto 0;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movies-card-list__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 30px;
  column-gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.movies-card-list__more-btn {
  margin: 50px auto 80px;
  padding: 11px 0 9px;
  min-width: 1140px;
  background-color: #2f2f2f;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.movies-card-list__more-btn:hover {
  opacity: .8;
}