.movies-card {
  background-color: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.movies-card__image {
  width: 100%;
  object-fit: cover;
}

.movies-card__header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.movies-card__info {
  display: flex;
  flex-direction: column;
}

.movies-card__title {
  margin: 0;
  max-width: 290px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

.movies-card__duration {
  padding-top: 17px;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
}

.movies-card__btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.movies-card__btn:hover {
  opacity: .8;
}

.movies-card__btn_type_like {
  background-image: url('../../images/heart-icon.svg');
}