.register {
  display: flex;
  justify-content: center;
  padding: 70px 0;
  margin: auto;
}

.register__form {
  width: 100%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
}

.register__form_logo {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.register__form_logo:hover {
  cursor: pointer;
  transition: opacity 0.3s ease;
  transform: scale(1.1);
  opacity: .8;
}

.register__form_title {
  margin: 0;
  padding: 40px 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #fff;
}

.register__form_label {
  display: flex;
  flex-direction: column;
}

.register__form_label-text {
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.register__form_input {
  padding: 15px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #2f2f2f;
}

.register__form_error {
  padding: 10px 0;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  opacity: 0;
  visibility: hidden;
}

.register__form_error_visible {
  opacity: 1;
  visibility: visible;
}

.register__form_btn {
  margin-top: 130px;
  padding: 13px 0 15px;
  background-color: #4285f4;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.register__form_btn:hover {
  opacity: .6;
}

.register__form_btn_disabled {
  opacity: .6;
  cursor: default;
}

.register__form_signin {
  margin-top: 16px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.register__form_link {
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  text-decoration: none;
}

.register__form_link:hover {
  opacity: .8;
}

@media screen and (max-width: 1023px) {
  .register {
    padding: 232px 0;
  }
}

@media screen and (max-width: 767px) {
  .register {
    padding: 56px 0 30px;
  }

  .register__form {
    max-width: 260px;
  }

  .register__form_logo {
    margin: 0 auto;
  }

  .register__form_title {
    padding: 50px 0 80px;
    text-align: center;
  }

  .register__form_btn {
    padding-top: 15px;
    font-size: 12px;
    line-height: 15px;
  }

  .register__form_signin {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }

  .register__form_link {
    font-size: 12px;
    line-height: 15px;
  }
}