.footer {
  padding: 79px 70px 20px;
}

.footer__description {
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8B8B8B;
  border-bottom: 1px solid #424242;
}

.footer__container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__list-item {
  padding-right: 20px;
}

.footer__list-item:last-child {
  padding-right: 0;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.footer__link:hover {
  opacity: .8;
  color: #3ddc84;
}