.about-me {
  padding: 110px 70px 0;
  background-color: #202020;
}

.about-me__title {
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  line-height: 27px;
  font-weight: normal;
  color: #fff;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #dadada;
}

.about-me__container {
  padding-top: 66px;
  display: flex;
  justify-content: space-between;
}

.about-me__info {
  max-width: 600px;
}

.about-me__name {
  margin: 0;
  font-size: 50px;
  line-height: 58px;
  font-weight: normal;
  color: #fff;
  letter-spacing: -0.04em;
}

.about-me__profile {
  margin: 0;
  padding-top: 18px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}

.about-me__description {
  margin: 0;
  padding-top: 26px;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.about-me__list {
  margin: 0;
  padding: 99px 0 0;
  list-style: none;
  display: flex;
}

.about-me__list-item {
  padding-right: 20px;
}

.about-me__list-item:last-child {
  padding-right: 0;
}

.about-me__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}