.nav-tab {
  min-height: 66px;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-tab__link {
  padding-right: 40px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
}

.nav-tab__link:last-child {
  padding-right: 0;
}