.nav-tab {
  padding: 24px 0;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-tab__link {
  padding-right: 40px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.nav-tab__link:last-child {
  padding-right: 0;
}

.nav-tab__link:hover {
  opacity: .8;
  color: #3DDC84;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .nav-tab {
    padding: 25px 0;
  }

  .nav-tab__link {
    padding-right: 24px;
    font-size: 11px;
  }
}